---
import PostComments from "../components/PostComments.astro";
import SiteLayout from "./SiteLayout.astro";
import Share from "astro-heroicons/solid/Share.astro";
const { frontmatter } = Astro.props;
const url = Astro.request.url;
---

<SiteLayout title={frontmatter.title}>
  <article class="w-full prose dark:prose-invert mt-20">
    <div class="flex justify-between">
      <h1>{frontmatter.title}</h1>
      <div class="relative group">
        <button
          class="w-9 h-9"
          id="shareButton"
          data-url={url}
          data-title={frontmatter.title}
        >
          <Share class="w-9 h-9" />
        </button>
        <span
          class="hidden absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 text-sm text-white bg-black dark:text-black dark:bg-white"
          id="tooltipText">Copy to clipboard</span
        >
      </div>
    </div>
    <img
      src={frontmatter.img}
      alt={frontmatter.title}
      width={700}
      height={700}
    />
    <div>
      <style>
        slot::slotted(p) {
          text-align: justify;
        }
      </style>
      <slot />
    </div>
  </article>
  <PostComments />
</SiteLayout>

<script>
  const shareButton = document.getElementById("shareButton");
  if (shareButton !== null) {
    const url = shareButton.getAttribute("data-url");
    const title = shareButton.getAttribute("data-title");
    const tooltipText = document.getElementById("tooltipText");

    if (url !== null && title !== null && tooltipText !== null) {
      if (!navigator.share) {
        shareButton.addEventListener("mouseover", () => {
          tooltipText.classList.remove("hidden");
        });

        shareButton.addEventListener("mouseout", () => {
          tooltipText.classList.add("hidden");
        });
      }

      shareButton.addEventListener("click", () => {
        if (navigator.share) {
          navigator
            .share({
              title: title ?? "",
              url: url ?? "",
            })
            .catch(console.error);
        } else {
          navigator.clipboard.writeText(url ?? "").then(
            () => {
              if (tooltipText) {
                tooltipText.textContent = "URL copied!";
              }
              setTimeout(() => {
                if (tooltipText) {
                  tooltipText.textContent = "Copy to clipboard";
                }
              }, 2000);
            },
            (err) => {
              console.error("Could not copy text: ", err);
            }
          );
        }
      });
    }
  }
</script>
